<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<Properties>
		<!-- Linux(IF1): /var/opt/logarchive/telematics/vehicleinformation; 本地:d:\log-->
		<Property name="LogDirPath">/var/opt/logarchive/telematics/dflzmtboxadapter/</Property>
	</Properties>	
	<appenders>		
		<!-- 开发过程日志 -->
		<RollingRandomAccessFile name="TraceFile" 	fileName="${LogDirPath}/trace.log" filePattern="${LogDirPath}/trace_%d{yyyy-MM-dd}.log" 	append="true">			
			<filters>
				<ThresholdFilter level = "trace" onMatch = "ACCEPT" onMismatch = "DENY" />
			</filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile>
		
		<!-- 调试日志 -->
		<RollingRandomAccessFile name="DebugFile" 	fileName="${LogDirPath}/debug.log" filePattern="${LogDirPath}/debug_%d{yyyy-MM-dd}.log" 	append="true">			
			<filters>
				<ThresholdFilter level = "debug" onMatch = "NEUTRAL" onMismatch = "DENY" />
				<ThresholdFilter level = "info" onMatch = "DENY" onMismatch = "NEUTRAL" />
			</filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile>
		
		<!-- 服务日志 -->
		<RollingRandomAccessFile name="ServiceFile" 	fileName="${LogDirPath}/service.log" filePattern="${LogDirPath}/service_%d{yyyy-MM-dd}.log" 	append="true">			
			<filters>
				<ThresholdFilter level = "info" onMatch = "NEUTRAL" onMismatch = "DENY" />
				<MarkerFilter marker = "Service" onMatch = "ACCEPT" onMismatch = "DENY" />	
			</filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile>
		
		<!-- 用户日志 -->
		<RollingRandomAccessFile   name="UserFile" fileName = "${LogDirPath}/user.log"  filePattern = "${LogDirPath}/user_%d{yyyy-MM-dd}.log" append="true">			
			<Filters>
				<ThresholdFilter level = "info" onMatch = "NEUTRAL" onMismatch = "DENY" />
				<MarkerFilter marker = "User" onMatch = "ACCEPT" onMismatch = "DENY" />	
			</Filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile   >
		
		<!-- 请求响应日志 -->
		<RollingRandomAccessFile   name="ReqResFile" fileName = "${LogDirPath}/reqres.log"  filePattern = "${LogDirPath}/reqres_%d{yyyy-MM-dd}.log" append="true">			
			<Filters>
				<ThresholdFilter level = "debug" onMatch = "NEUTRAL" onMismatch = "DENY" />
				<MarkerFilter marker = "Request2Response" onMatch = "ACCEPT" onMismatch = "DENY" />	
			</Filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile   >
		
		<!-- 错误日志文件 -->
		<RollingRandomAccessFile   name="ErrorFile" fileName = "${LogDirPath}/error.log"  filePattern = "${LogDirPath}/error_%d{yyyy-MM-dd}.log" append="true">			
			<Filters>
				<ThresholdFilter level = "error" onMatch = "NEUTRAL" onMismatch = "DENY" />
				<ThresholdFilter level = "fatal" onMatch = "DENY" onMismatch = "NEUTRAL" />
				<MarkerFilter marker = "Error" onMatch = "ACCEPT" onMismatch = "DENY" />
			</Filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile   >
		<!-- 致命日志文件 -->
		<RollingRandomAccessFile   name="FatalFile" fileName = "${LogDirPath}/fatal.log"  filePattern = "${LogDirPath}/fatal_%d{yyyy-MM-dd}.log" append="true">
			<Filters>
				<ThresholdFilter level = "fatal" onMatch = "NEUTRAL" onMismatch = "DENY" />
				<MarkerFilter marker = "Error" onMatch = "ACCEPT" onMismatch = "DENY" />	
			</Filters>
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %p %marker  %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval = "1" modulate = "true"/>
			</Policies>
		</RollingRandomAccessFile >
	</appenders>
	<loggers>
		<root level="trace">
			<appender-ref ref="TraceFile" />
			<appender-ref ref="DebugFile" />
			<appender-ref ref="ServiceFile" />
			<appender-ref ref="UserFile" />
			<appender-ref ref="ErrorFile" />
			<appender-ref ref="FatalFile" />
		</root>
	</loggers>
</configuration>